<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" data-ng-app="laboard-frontend">
<head>
    <meta charset="utf-8">
    <title>Laboard</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="assets/images/logo.ico" />
    <link rel="stylesheet" type="text/css" href="assets/styles/font-awesome-animation.css" />
    <link rel="stylesheet" type="text/css" href="assets/styles/loading-bar.css" />
    <link rel="stylesheet" type="text/css" href="assets/styles/main.css" />
</head>

<body data-nyan>

<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="/assets/images/logo.png"/>
            <a target="_blank" class="navbar-brand" href="{{ LABOARD_CONFIG.gitlabUrl }}/{{ project.path_with_namespace }}">{{ project.path_with_namespace }}</a>
        </div>

        <form class="navbar-form navbar-left" data-ng-show="project">
            <div class="form-group has-feedback">
                <div class="dropdown">
                    <input type="text" class="form-control dropdown-toggle" placeholder="Global search" data-ng-model="globalSearch" data-ng-disabled="issues.all.length == 0">
                    <span class="text-muted form-control-feedback" data-ng-click="globalSearch = ''" data-ng-show="globalSearch"><i class="fa fa-times-circle"></i></span>
                    <ul class="dropdown-menu">
                        <li class="dropdown-toggle"><a data-ng-click="globalSearch = '@from '; focusSearch()"><i class="fa fa-user fa-fw"></i> Search authors</a></li>
                        <li class="dropdown-toggle"><a data-ng-click="globalSearch = '@to '; focusSearch()"><i class="fa fa-user fa-fw"></i> Search assignees</a></li>
                        <li class="dropdown-toggle"><a data-ng-click="globalSearch = '@me'; focusSearch()"><i class="fa fa-user fa-fw"></i> Search my tickets (authored and assigned)</a></li>
                        <li class="dropdown-toggle"><a data-ng-click="globalSearch = '@'; focusSearch()"><i class="fa fa-user fa-fw"></i> Search assignees and authors</a></li>
                        <li class="dropdown-toggle"><a data-ng-click="globalSearch = '#'; focusSearch()"><i class="fa fa-slack fa-fw"></i> Search issue numbers</a></li>
                        <li class="dropdown-toggle"><a data-ng-click="globalSearch = ':'; focusSearch()"><i class="fa fa-crosshairs fa-fw"></i> Search milestones (semver)</a></li>
                    </ul>
                </div>
            </div>
        </form>

        <div class="btn-group navbar-left" data-ng-if="project">
            <button data-tooltip="Switch project" data-tooltip-placement="bottom" type="button" class="btn btn-default navbar-btn" data-ng-click="switchProject()"><i class="fa fa-exchange"></i></button>
            <button data-tooltip="Create a new column" data-tooltip-placement="bottom" type="button" class="btn btn-default navbar-btn" data-ng-click="create()"><i class="fa fa-plus"></i></button>
        </div>

        <ul class="nav navbar-nav navbar-right" data-ng-controller="LoginController" data-ng-show="loggedin">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img class="avatar" data-gravatar-src="user.email" data-gravatar-size="100">
                    {{ user.name }}
                    <b class="fa fa-caret-down"></b>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="#" class="pointer" data-ui-sref="logout"><i class="fa fa-sign-out"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="main clearfix" data-ui-view></div>

<script src="assets/js/vendor.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
