<div class="login">
    <div class="panel panel-default" data-ng-show="ready" data-ng-class="{'panel-danger': error, 'panel-default': !error}">
        <div class="panel-heading">Identification</div>

        <div class="panel-body">
            <div class="alert alert-danger" data-ng-show="error">
                Check your username or password
                <button class="close" data-ng-click="error = false">&times;</button>
            </div>

            <form class="form-horizontal" data-ng-submit="submit()">
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Token</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password" placeholder="private token" data-ng-model="password">
                        <div class="alert alert-info help-block ">
                            <h3>Gitlab private token</h3>
                            <a target="_blank" class="alert-link" href="{{ LABOARD_CONFIG.gitlabUrl }}/profile/account">Follow this link</a> to get your private token
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="col-sm-offset-3 col-sm-10">
                        <input class="btn btn-success" type="submit" value="Login" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
